# exclude everything
node_modules/*

files/css/icons.css
files/css/styles.css
# files/build/
# !files/build/fonts/
# !files/build/temp/icons.css
.idea


## exception to the rule
#!somefolder/.gitkeep 
!files/build/.gitkeep 