.skillssection-tpl-a8 {
    background-color: $white;
    color: $text-dark;
    text-align: center;
    padding: 60px 0;

    .rate-img {
        max-width: 220px;
        margin: 0 auto 40px;
        display: block;
    }

    .rate-item {
        text-align: center;
        margin-bottom: 30px;

        .rate-title {
            font-size: 18px;
            font-weight: 600;
            color: $text-dark;
            line-height: 1.5;
        }
    }
}