.socialmedia-t8 {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    @include flex-center;

    &-li {
        padding: 8px;

        a {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #bdd1df;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-icon {
        color: $white;
        font-size: 40px;

    }
}